* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Roboto Mono', monospace; 
  --text-color: #E1E1E6;

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: black;
}

body * {
  font-family: var(--ff-primary);
  font-weight: bold;
}

body span {
  font-weight: 400;
}

.sr-only { 
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden; 
  clip: rect(0, 0, 0, 0); 
  white-space: nowrap; 
  border-width: 0; 
}

#app {
  padding: 2rem; 
  max-width: 112rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 4rem;

  margin: 8.7rem 0;
}

.search {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.search input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #06181C;
  color: #FFFFFF;

  font-size: 1.6rem;
  line-height: 100%;

  height: 4.8rem;
  width: 46.2rem;

  border: 1px solid #ccc;
  border-radius: .4rem;
  padding: 0 .8rem;
}

.search button {
  display: flex;
  gap: .8rem;

  background-color: #065E7C;
  color:#FFFFFF;

  text-transform: uppercase;

  height: 4.8rem;
  padding: 1.2rem 3.2rem;
  border: none;
  border-radius: .4rem;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  cursor: pointer;
}

.search button:hover {
  background-color: #FFFFFF;
  color:#065E7C;
}

.search button:hover svg path  {
  fill: #065E7C;
}

table { 
  width: 100%; 
  
  border: 1.5px solid hsla(191, 31%, 42%, 1);
  border-spacing: 0; /*no lugar de border-collapse: collapse*/
  border-radius:  .8rem;

  overflow: hidden; /*por segurança para a borda não transbordar*/
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table tr {
  border: 1px solid hsla(191, 31%, 42%, 1);
}

table tr:first-child{
  border: none;
}

table th {
  background: #043444;
  text-align: left;
  font-weight: bold;
  padding: 1.5rem;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

table tr:nth-child(even) {
  background: #06181C;;
}

table tr:nth-child(odd) {
background: rgba(6, 22, 27, 0.5);
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

.remove {
  background: transparent;
  border: none;

  color: red;

  cursor: pointer;
}

.empty {
  height: 40rem;

}

.empty p{
  font-family: 'Roboto Mono', monospace; 
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  color: #4E5455;
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}
::-webkit-scrollbar {
  width: .6rem;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #4A808C;
  border-radius: 10px;
}

.container {
  height: 30rem;
  overflow-y: scroll;
  }

  